body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.chennai{
  text-align: center;
  background-color: black;
  color: red;
  padding: 35px;
  margin-top: -20px;

}
.it{
  text-align: center;
}
.company{
  align-items: center;
  justify-content: center;
}
.images {
  display: flex;
  justify-content:space-evenly;
  text-align: center;
 
}
.kera{
  background-color: rgb(127, 255, 176);
  padding: 30PX;
  align-items: center;
  font-weight: bolder;
}
.kerala{
  text-align: center;
  justify-content: center;
  font-weight: bolder;
}
.para{
  text-align: center;
  justify-content: center;
}
.img1{
 display: flex;
 justify-content: space-evenly;
 text-align: center;
 font-weight: bolder;
  
}
.tour{
  text-align: center;
}
.t{
  align-items: center;
}
.varkala{
  display: flex;
  justify-content: space-evenly;
  font-weight: bolder;
  align-items: center;
  
}
.l{
  text-align: center;
}
.l1{
  text-align: center;
}
.karnataka{
  background-color: orangered;
  padding: 10px;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bolder;
}
.cinema1 h2 {
  align-items: center;
  justify-content: center;
}
.kgf{
 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}
.love{
  align-items:center;
  justify-content: center;
}
.kgf2{
 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.traditional{
  align-items: center;
  justify-content: center;
}
.food{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hi img{
  justify-content: center;
  margin-left: 20px;
}